//====================================================================================================
.header {
	// .header__top
	&__top {
	}	
	// .header__catalog
	&__catalog {
	}
}
.top-header {
	background-color: $mainDarkColor;
	color: #fff;
	padding: rem(10) 0;
	// .top-header__container
	&__container {
		display: flex;
		align-items: center;
		gap: rem(20);
		min-height: rem(50);
	}
	// .top-header__menu
	&__menu {
		flex: 1 1 auto;

	}
	// .top-header__user
	&__user {
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		line-height: math.div(22, 18);
		&::before {
			font-size: rem(28);
			margin-right: em(15, 28);
		}
		@media (any-hover: hover){
			&:hover {
				span {
					text-decoration: underline;
				}
			}
		}
	
	}
}
.menu-top-header {
	// .menu-top-header__list
	&__list {
		display: flex;
		// flex-wrap: wrap;
		row-gap: 5px;
		@include adaptiveValue("column-gap", 60, 20);
		@media (max-width: $tablet) {
			flex-direction: column;
			row-gap: 10px;
		}
}
	// .menu-top-header__item
	&__item {
		&_catalog {
			@media (min-width: $tablet) {
				display: none;
			}
		}

	}
	// .menu-top-header__link
	&__link {
		font-size: rem(16);
		line-height: math.div(20, 16);
		@media (any-hover: hover){
			&:hover {
				text-decoration: underline;
			}
		}
		&_catalog {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			&::before {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex:0 0 14px;
				height: 14px;
				font-size: rem(8);
				transform: rotate(-90deg);
			}
		}

	}
}
.menu {
	@media (max-width: $tablet) {
		flex: 0 0 30px;
		display: block;
	}
	// .menu__body
	&__body {
		@media (max-width: $tablet) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			overflow: auto;
			background-color: $mainDarkColor;
			padding: rem(50) rem(15);
			z-index: 4;
		}
	}
	// .menu__icon
	&__icon {
	}
}

//====================================================================================================

.body-header {
	padding: rem(10) 0;
	background-color: #ECF1F2;
	// .body-header__container
	&__container {
		display: flex;
		min-height: rem(70);
		align-items: center;
	}
	// .body-header__logo
	&__logo {
		@extend %ic;
		@extend ._icon-logo;
		font-size: rem(42);
		color: $mainDarkColor;
		
	}
	// .body-header__search
	&__search {
		flex: 1 1 auto;
		padding-right: rem(20);
		@include adaptiveValue("padding-left", 158, 20, 1620, 1400, 1);
		// @include adaptiveValue("свойство которое будет изменяться", окно ОТ, окно ДО, в диапазоне ОТ, в диапазоне ДО, 1);
	}
	// .body-header__actions
	&__actions {
	}
	
	
}
.search-header {
	max-width: rem(377);
	border-radius: rem(3);
	position: relative;
	border: 1px solid rgba(4, 4, 4, 0.5);

	// .search-header__button
	&__button {
		position: absolute;
		background-color: transparent;
		border: none;
		height: rem(41);
		width: rem(41);
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: rem(8);
		font-size: rem(14);
		color: rgba(0, 0, 0, 0.5);
	}
	// .search-header__input
	&__input {
		width: 100%;
		background-color: rgba(7, 7, 7, 0.03);
		color: $mainColor;
		padding: 0px rem(20) 0px rem(50);
		height: rem(41);
		&::placeholder {
			color: rgba(0, 0, 0, 0.5);
		}	
	}
}

//====================================================================================================

.actions-header {
	display: flex;
	align-items: center;
	@include adaptiveValue("column-gap", 30, 20, 1620, 1000, 1);
	// .actions-header__location
	&__location {
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		@include adaptiveValue("margin-right", 25, 0, 1620, 1300, 1);
		&::before {
			font-size: rem(24);
			margin: 0 em(10, 24) 0 0;
		}
		@media (any-hover: hover){
			&:hover {
				span {
					text-decoration: underline;
				}
			}
		}
	}
	// .actions-header__phones
	&__phones {
		flex: 0 0 auto;
	}
	// .actions-header__favorite
	&__favorite {
		font-size: rem(27);
	}
	// .actions-header__cart
	&__cart {

	}
}
.phones-header {
	// .phones-header__items
	&__items {
	}
	// .phones-header__item
	&__item {
		position: relative;
		display: flex;
	}
	&__phone {
		font-weight: 600;
		line-height: math.div(22, 18);
	}
	// .phones-header__arrow
	&__arrow {
		color: $mainAccentColor;
		font-size: rem(10);
		margin-left: em(16, 17);
		transition: transform 0.3s ease 0s;
		&._spoller-active {
			transform: rotate(-180deg);
		}
	}
	// .phones-header__list
	&__list {
		z-index: 2;
		white-space: nowrap;
		position: absolute;
		top: 100%;
		width: 100%;
		left: 0;
		margin: rem(5) 0 0 0;
		border-radius: rem(10);
		background-color: #fff;
		padding: rem(15);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
		li {
			&:not(:last-child) {
				margin-bottom: em(8, 18);
			}
		}

	}
	// .phones-header__callback
	&__callback {
		color: $mainAccentColor;
		margin: rem(3) 0 0 0;
		font-weight: 700;
		line-height: math.div(22, 18);
		@media (any-hover: hover){
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.cart-header {
	display: flex;
	align-items: center;
	column-gap: rem(15);
	// .cart-header__icon
	&__icon {
		flex: 0 0 37px;
		font-size: rem(35);
		position: relative;
		span {
			position: absolute;
			width: rem(14);
			height: rem(14);
			font-size: rem(8);
			background-color: $mainAccentColor;	
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0;
			right: 0;
			color: #fff;
		}
	}
	// .cart-header__body
	&__body {
		font-size: rem(16);
		line-height: math.div(20, 16);
		flex: 0 0 auto;
		@media (max-width: em(1250)) {
			display: none;
		}
	}
	// .cart-header__summ
	&__summ {
		font-weight: 500;
		&:not(:last-child) {margin-bottom: em(5, 16);}
	}
	// .cart-header__link
	&__link {
		color: $mainAccentColor;	
		@media (any-hover: hover){
			&:hover {
				text-decoration: underline;
			}
		}	
	}
}

//====================================================================================================

.catalog-header {
	position: relative;
	background-color: $mainDarkColor;
	color: #fff;

	// .catalog-header__container
	&__container {
	}
	// .catalog-header__menu
	&__menu {
	}
}
.menu-catalog {
	// .menu-catalog__list
	&__list {
		
		display: flex;
		justify-content: space-between;
		gap: 10px;
	}
	// .menu-catalog__item
	&__item {
		
	}
	// .menu-catalog__link
	&__link {
		min-height: rem(70);
		padding: 0 rem(10);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		position: relative;
		transition: color 0.3s ease 0s;
		&::after {
			content: "";
			opacity: 0;
			visibility: hidden;
			position: absolute;
			bottom: 0;
			left: rem(10);
			height: 1px;
			background-color: $mainAccentColor;
			width: calc(100% - rem(20));
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover){
			&:hover {
				color: $mainAccentColor;
				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&._sub-menu-active {
			color: $mainAccentColor;
				&:after {
					opacity: 1;
					visibility: visible;
				}
		}
	}
	// .menu-catalog__sub-menu
	&__sub-menu {
		width: 100%;
		left: 0;
		top: 100%;
		background-color: $mainDarkColor;
		&._sub-menu-show  {
		}
	}
}
.sub-menu-catalog {
	// .sub-menu-catalog__container
	&__container {
		padding: 0 rem(10);
	}
	// .sub-menu-catalog__block
	&__block {
		display: none;
		@for $var from 1 to 6 {
			&_#{$var} {
				// var 1   ?? close to each other
				// justify-content: start;
				// grid-template-columns: repeat($var, auto);

				// var 2   ?? much more better
				grid-template-columns: repeat($var, minmax(auto, rem(320)));
			}
		}
		&._sub-menu-open {
			display: grid;
		}
	}
	// простой  вариант
	// &__block_1 {
	// 	&._sub-menu-open {
	// 		display: grid;
	// 		grid-template-columns: repeat(1, 1fr);
	// 	}
	// }
	// &__block_2 {
	// 	&._sub-menu-open {
	// 		display: grid;
	// 		grid-template-columns: repeat(2, 1fr);
	// 	}
	// }
	// &__block_3 {
	// 	&._sub-menu-open {
	// 		display: grid;
	// 		grid-template-columns: repeat(3, 1fr);
	// 	}
	// }

	// &__block_5 {
	// 	&._sub-menu-open {
	// 		display: grid;
	// 		grid-template-columns: repeat(5, 1fr);
	// 	}
	// }

	
	// .sub-menu-catalog__link-category
	&__category {
		font-size: rem(16);
		line-height: math.div(16, 20);
		font-weight: 700;
		padding: rem(30) rem(15) rem(30) 0;
		@media (any-hover: hover){
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .sub-menu-catalog__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: rem(30) rem(15) rem(30) 0;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}
	// .sub-menu-catalog__item
	&__item {
	}
	// .sub-menu-catalog__link
	&__link {
		font-size: rem(16);
		line-height: math.div(20, 16);
		@media (any-hover: hover){
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .sub-menu-catalog__footer
	&__footer {
		padding: rem(30) rem(15) rem(30) 0;
	}
	// .sub-menu-catalog__all
	&__all {
		font-size: rem(16);
		color: $mainAccentColor;
		@media (any-hover: hover){
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

//====================================================================================================



//Burger
.icon-menu {
	
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}

 